@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
}

.hash-span {
  margin-top: -100px;
  padding-bottom: 100px;
  display: block;
}

.black-gradient {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.violet-gradient {
  background: #804dee;
  background: linear-gradient(-90deg, #804dee 0%, rgba(60, 51, 80, 0) 100%);
  background: -webkit-linear-gradient(
    -90deg,
    #804dee 0%,
    rgba(60, 51, 80, 0) 100%
  );
}
.green-pink-gradient {
  background: "#00cea8";
  background: linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
  background: -webkit-linear-gradient(-90.13deg, #1102e2 1.9%, #06085a 97.5%);
}

.black-blue-gradient {
  background: rgb(3,1,23);
  background: radial-gradient(circle, rgba(3,1,23,1) 73%, rgba(7,6,32,1) 100%);
}


/* Below is for specific custom className */
/* sm:px-16 is for screen size 640px and above */
.paddingX{ @apply sm:px-16 px-6 } 
/* px is a shorthand for padding-left and padding-right */
.paddingY{ @apply sm:py-16 py-6}
.paddingAll{ @apply sm:px-16 px-6 sm:py-7 py-5}
/* py is a shorthand for padding-top and padding-bottom */
.heroHeadText{
  @apply font-black text-[#f1f1fa] lg:text-[75px] sm:text-[60px] xs:text-[50px] text-[40px] lg:leading-[98px] mt-2}
.heroSubText{
  @apply lg:text-[27px] sm:text-[23px] xs:text-[17px] text-[13px] lg:leading-[30px]}

.sectionHeadText{
  @apply text-white font-black md:text-[55px] sm:text-[50px] xs:text-[40px] text-[30px]}
.sectionSubText{
  @apply sm:text-[15px] text-[12px] text-secondary uppercase tracking-wider}
